@use "mixins" as mix;

.header{
    display: flex;
    justify-content: center;
    padding-top: 85px;
    padding-bottom: 45px;

    &__logo{
        width: 72px;
        height: 21px;
    }
}

@include mix.breakpoint(medium){
    .header{
        padding-top: 92px;
        padding-bottom: 60px;

        &__logo{
            width: 92px;
            height: 27px;
        }
    }
}